
# Ignore the .env file in the src directory
src/.env

# Ignore all CSV files in the root directory
#*.csv

# Ignore the outputs directory
outputs/

*.pem

# Include the inputs directory
#inputs/

# Include the possible-queries.csv file in the inputs directory
#!inputs/possible-queries.csv